src/flows/Create_Suitibility_Test-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>Create Suitibility Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Suitibility Test</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Suitibility_Test</name>
        <label>Create Suitibility Test</label>
        <locationX>219</locationX>
        <locationY>71</locationY>
        <assignRecordIdToReference>v_Suitibility_Test_ID</assignRecordIdToReference>
        <connector>
            <targetReference>scr_Finished</targetReference>
        </connector>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>v_Opp_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Suitability_Test__c</object>
    </recordCreates>
    <screens>
        <name>scr_Finished</name>
        <label>scr_Finished</label>
        <locationX>459</locationX>
        <locationY>68</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text_Finished_Message</name>
            <fieldText>Suitibility Test record created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>scr_Start</name>
        <label>scr_Start</label>
        <locationX>44</locationX>
        <locationY>71</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Suitibility_Test</targetReference>
        </connector>
        <fields>
            <name>text_Start</name>
            <fieldText>Start the Suitability Test process.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <startElementReference>scr_Start</startElementReference>
    <variables>
        <description>ID of the Opportunity that this flow was triggered from.</description>
        <name>v_Opp_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_Suitability_Comment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&apos;Client has invested in similar products multiple times before&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <description>The ID of the Suitibility Test record that is created during this flow.</description>
        <name>v_Suitibility_Test_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
