src/flows/Create_Suitibility_Test-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <dynamicChoiceSets>
        <name>choice_Accepted_Risk</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Accepted_Risk_Level__c</picklistField>
        <picklistObject>Suitability_Test__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_Investment_Products</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Investment_Product__c</picklistField>
        <picklistObject>Suitability_Test__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Suitibility Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Suitibility Test</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Suitibility_Test</name>
        <label>Create Suitibility Test</label>
        <locationX>520</locationX>
        <locationY>43</locationY>
        <assignRecordIdToReference>v_Suitibility_Test_ID</assignRecordIdToReference>
        <connector>
            <targetReference>scr_Finished</targetReference>
        </connector>
        <inputAssignments>
            <field>Accepted_Risk_Level__c</field>
            <value>
                <elementReference>field_Accepted_Risk_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Product__c</field>
            <value>
                <elementReference>field_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>v_Opp_ID</elementReference>
            </value>
        </inputAssignments>
        <object>Suitability_Test__c</object>
    </recordCreates>
    <screens>
        <name>scr_Finished</name>
        <label>scr_Finished</label>
        <locationX>701</locationX>
        <locationY>46</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text_Finished_Message</name>
            <fieldText>Suitibility Test record created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>scr_Start</name>
        <label>scr_Start</label>
        <locationX>31</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scr_Suitability_Q_1</targetReference>
        </connector>
        <fields>
            <name>text_Start</name>
            <fieldText>Start the Suitability Test process.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>pick_Investment_Products</name>
            <choiceReferences>choice_Investment_Products</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Investment Products</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>scr_Suitability_Q2</name>
        <label>scr_Suitability_Q2</label>
        <locationX>359</locationX>
        <locationY>35</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Suitibility_Test</targetReference>
        </connector>
        <fields>
            <name>field_Accepted_Risk_Level</name>
            <choiceReferences>choice_Accepted_Risk</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Accepted Risk Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>scr_Suitability_Q_1</name>
        <label>scr_Suitability_Q_1</label>
        <locationX>196</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scr_Suitability_Q2</targetReference>
        </connector>
        <fields>
            <name>field_Product</name>
            <choiceReferences>choice_Investment_Products</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>scr_Start</startElementReference>
    <variables>
        <description>ID of the Opportunity that this flow was triggered from.</description>
        <name>v_Opp_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_Suitability_Comment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&apos;Client has invested in similar products multiple times before&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <description>The ID of the Suitibility Test record that is created during this flow.</description>
        <name>v_Suitibility_Test_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
