src/flows/Create_Suitibility_Test-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <dynamicChoiceSets>
        <name>choice_Accepted_Risk</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Accepted_Risk_Level__c</picklistField>
        <picklistObject>Suitability_Test__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_Classification</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Classification__c</picklistField>
        <picklistObject>Suitability_Test__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_Investment_Products</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Investment_Product__c</picklistField>
        <picklistObject>Suitability_Test__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_Investment_Type</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Investment_Type__c</picklistField>
        <picklistObject>Suitability_Test__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_Knowledge</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Knowledge__c</picklistField>
        <picklistObject>Suitability_Test__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_Source_of_Investment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Source_of_Investment__c</picklistField>
        <picklistObject>Suitability_Test__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>choice_Term</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Term__c</picklistField>
        <picklistObject>Suitability_Test__c</picklistObject>
    </dynamicChoiceSets>
    <interviewLabel>Create Suitibility Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Suitibility Test</label>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Suitibility_Test</name>
        <label>Create Suitibility Test</label>
        <locationX>520</locationX>
        <locationY>43</locationY>
        <assignRecordIdToReference>v_Suitibility_Test_ID</assignRecordIdToReference>
        <connector>
            <targetReference>scr_Finished</targetReference>
        </connector>
        <inputAssignments>
            <field>Accepted_Risk_Level__c</field>
            <value>
                <elementReference>field_Accepted_Risk_Level</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount_to_Invest__c</field>
            <value>
                <elementReference>field_Amount_to_Invest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Classification__c</field>
            <value>
                <elementReference>field_Classification</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Product__c</field>
            <value>
                <elementReference>field_Product</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Investment_Type__c</field>
            <value>
                <elementReference>field_Investment_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Knowledge__c</field>
            <value>
                <elementReference>field_Knowledge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>v_Opp_ID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Source_of_Investment__c</field>
            <value>
                <elementReference>field_Source_of_Investment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term__c</field>
            <value>
                <elementReference>field_Term</elementReference>
            </value>
        </inputAssignments>
        <object>Suitability_Test__c</object>
    </recordCreates>
    <screens>
        <name>scr_Finished</name>
        <label>scr_Finished</label>
        <locationX>701</locationX>
        <locationY>46</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>text_Finished_Message</name>
            <fieldText>Suitibility Test record created.</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text_Summary</name>
            <fieldText>{!template_Summary}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>scr_Suitability_Q2</name>
        <label>scr_Suitability_Q2</label>
        <locationX>359</locationX>
        <locationY>35</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Suitibility_Test</targetReference>
        </connector>
        <fields>
            <name>field_Accepted_Risk_Level</name>
            <choiceReferences>choice_Accepted_Risk</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Accepted Risk Level</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>field_Knowledge</name>
            <choiceReferences>choice_Knowledge</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Knowledge</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>field_Term</name>
            <choiceReferences>choice_Term</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Term</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>scr_Suitability_Q_1</name>
        <label>scr_Suitability_Q_1</label>
        <locationX>157</locationX>
        <locationY>40</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scr_Suitability_Q2</targetReference>
        </connector>
        <fields>
            <name>field_Product</name>
            <choiceReferences>choice_Investment_Products</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>field_Amount_to_Invest</name>
            <dataType>Currency</dataType>
            <fieldText>Amount to Invest</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>field_Source_of_Investment</name>
            <choiceReferences>choice_Source_of_Investment</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Source of Investment</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>field_Investment_Type</name>
            <choiceReferences>choice_Investment_Type</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Investment Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>field_Classification</name>
            <choiceReferences>choice_Classification</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Classification</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>scr_Suitability_Q_1</startElementReference>
    <textTemplates>
        <name>template_Summary</name>
        <text>Accepted Risk:            {!field_Accepted_Risk_Level}

Investement Product:  {!field_Product}
Source of Investment: {!field_Source_of_Investment}
Classification:              {!field_Classification}
Amount to invest:        {!field_Amount_to_Invest}
Investment Type:         {!field_Investment_Type}
Accepted Risk Level:   {!field_Accepted_Risk_Level}
Term:                           {!field_Term}
Knowledge:                  {!field_Knowledge}</text>
    </textTemplates>
    <variables>
        <description>ID of the Opportunity that this flow was triggered from.</description>
        <name>v_Opp_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>v_Suitability_Comment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&apos;Client has invested in similar products multiple times before&apos;</stringValue>
        </value>
    </variables>
    <variables>
        <description>The ID of the Suitibility Test record that is created during this flow.</description>
        <name>v_Suitibility_Test_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_Results</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>&apos;Suitibility Summary&apos;</stringValue>
        </value>
    </variables>
</Flow>
